/* Set the height of the calendar */
.calendar-container .react-calendar {
    height: 350px;
    border-radius: 10px;
    font-weight: 100;
    border-top: none;
    border-left: none;
    background: #111827;
    font-size: 20px;
    width: 280px;
    overflow: hidden; /* Hide overflow to maintain the height */
}



